# used to overide shell vars for script forwardLogs.sh

# example
# the name used to be identified remotely
# my_name=s-m2m-gw.dtdns.net

#
# to connect to collected, use a public WAN address or a local LAN address
# connect_to_collector_using_wan_address=false
